# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/

# Logs & lock files
*.log
uv.lock

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Replit
.replit

# Build output
downloads/
